# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# next.js build output
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# design raw imports & temp folders
/Zenzer's team library/
/svg/
/marimba.design-svg/
/Personalize Portfolio important assets/
/screenshots/
/pulled-css&js/
/stitch_portfolio_case_study_redesign/
/colors/
/.antigravity/

